<h1 class="text-2xl font-bold mb-4">Contact Us</h1>
<div class="container mx-auto px-4 flex items-center justify-center">
  <div *ngIf="responseMessage" class="p-4 rounded" [ngClass]="{'bg-green-500 text-white': success, 'bg-red-500 text-white': !success}">
    {{ success ? 'We will contact you later.' : responseMessage }}
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="w-full">
    <div class="form-group mb-4">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" formControlName="firstName" class="form-input mt-1 block w-full border border-gray-300 p-2">
      <div *ngIf="isInvalid('firstName')" class="text-red-500">First Name is required.</div>
    </div>
  
    <div class="form-group mb-4">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" formControlName="lastName" class="form-input mt-1 block w-full border border-gray-300 p-2">
      <div *ngIf="isInvalid('lastName')" class="text-red-500">Last Name is required.</div>
    </div>
  
    <div class="form-group mb-4">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-input mt-1 block w-full border border-gray-300 p-2">
      <div *ngIf="isInvalid('email')" class="text-red-500">Email is required and must be a valid email address.</div>
    </div>
  
    <div class="form-group mb-4">
      <label for="phoneNumber">Phone Number</label>
      <input type="tel" id="phoneNumber" formControlName="phoneNumber" class="form-input mt-1 block w-full border border-gray-300 p-2">
      <div *ngIf="isInvalid('phoneNumber')" class="text-red-500">Phone Number is required.</div>
    </div>
  
    <div class="form-group mb-4">
      <label for="address">Address</label>
      <input type="text" id="address" formControlName="address" class="form-input mt-1 block w-full border border-gray-300 p-2">
      <div *ngIf="isInvalid('address')" class="text-red-500">Address is required.</div>
    </div>
  
    <div class="form-group mb-4">
      <label for="message">Message</label>
      <textarea id="message" formControlName="message" class="form-input mt-1 block w-full border border-gray-300 p-2" rows="4"></textarea>
      <div *ngIf="isInvalid('message')" class="text-red-500">Message is required.</div>
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" [disabled]="!isFormValid()">Submit</button>
  </form>
</div>
